:root{
    --primary: #ecf0f1;
    --secondary: #2c3e50;
}

html, body{
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
}

html[data-theme="dark"]{
    --secondary: #ecf0f1;
    --primary: #2c3e50;
}